<div class="container">
  <div class="row justify-content-center">
    <div class="follow-relation col-12 col-md-10 text-center">
<h3>友達一覧</h3>
<% @users ||= current_user %>
<% if @users.followings.count == 0 %>
 <p>友達が追加されてません</p>
<% else %>
  <% @users.followings.each do |user| %>
  <div class="section_friend_list">
      <div class="friend_list_name">
        <%= user.name %>
      </div>
      <div class="friend_list_button">
        <%= link_to "日記を見る", followers_path(user) %>
      </div>
      <div class="friend_follow">
        <%= render partial: 'users/follow_form', :locals => {:user => user} %>
      </div>
   </div>
  </div>
  <% end %>
<% end %>
