<div class="container">
  <div class="row justify-content-center">
    <div class="follow-relation col-12 col-md-10 text-center">
      <h3>今日のみんなのしあわせ</h3>
    <div class="card-body text-center">
      <% if @posts.where("start_time > ?", Date.today).present? %>
      <% @posts.where("start_time > ?", Date.today).each do |post| %>
         <div class="section_friend_list">
           <div class="friend_list_name">
      <div class="friend_list_name">
       <%= link_to User.find_by(id: post.user_id).name, followers_path(@users)  %>さん
      </div>
        今日のしあわせ<%= post.content %>
        今日のしあわせ度<%= post.today_mood %>
        </div>
        </div>
      <% end %>
     <% else %>
       <p>今日の友達の日記をありません</p>
     <% end %>
  </div>
</div>
