<center>
  <div class="main">
    <div class="main-logo">
      <br>
      <div class="star">
      </div>
      <h1>しあわせのものさし</h1>
      <h2>自分にとっての「しあわせ」を見つけよう</h2>
    </div>
    <div class="box2">
    <div class="main-Heading">
      <h3>しあわせのものさしって？</h3>
    </div>
    <div class="font-group">
      <p>何をしてもしあわせを感じない。人と比較し落ち込む・嫉妬してしまう。</p>
      <p>お金持ち・可愛くなればしあわせになれると思ってたのに満たされない。</p>
      <p>そんな人に贈る自分にとってのしあわせが何かを見つけるためのサービスです。</p>
    </div>
    </div>
    
    <div class="box2">
    <div class="main-Heading">
      <h3>今日の自分のしあわせ評価し理由を一行で書き込もう</h3>
    </div>
    <div class="font-group">
    <%= image_tag 'calendar.jpg', class: 'page-calendar', width: '70%', height: '70%' %>
    <div class="main-font">
      <p>入力はカンタン。</p>
      <p>今日の自分のしあわせを</p>
      <p>◯ △ ×で評価。</p>
      <p>その理由を一行で書き込むだけ</p>
    </div>
    </div>
     </div>
    
    <div class="box2">
    <div class="main-Heading">
      <h3>自分のしあわせをグラフで比較してみよう</h3>
    </div>
    <div class="main-font">
       <%= image_tag 'calendar.jpg', class: 'page-graph', width: '70%', height: '70%' %>
    <div class="main-font">
     <p>月ごとに評価の推移</p>
     <p>️自分のしあわせ一行をして</p>
    </div>
    </div>
    </div>
     <br>
      <br>
       <br>
        <br>
         <br>
      </div>
    </div>
  </div>
<br>
<br>


/*<style>*/
/*  body {*/
/*    background-color: #B0C4DE;*/
/*    height: 300px;*/
/*  }*/
/*</style>

