<center>
  <div class="main">
    <div class="main-logo">
      <br>
      <br>
      <h1>しあわせのものさし</h1>
      <h2>自分にとっての「しあわせ」を見つけよう</h2>
    </div>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <div class="main-Heading">
      <h3>しあわせのものさしって？</h3>
    </div>
    <br>
      <p>何をしてもしあわせを感じない。</p>
      <p>自分にとってのしあわせが何かを見つけるためのサービスです</p>
    <div class="main-Heading">
      <h3>カレンダーに自分の1日の幸せを1行と評価を入力しよう</h3>
    </div>
    <br>
      <p>入力はカンタン。今日自分がしあわせだったかどうかを◯ △ ×で評価して、</p>
      <p>しあわせだった亊を一行で書き込むだけ</p>
    <div class="main-Heading">
      <h3>自分のしあわせをグラフで比較してみよう</h3>
    </div>
    <br>
      <p>月ごとに◯ △ ×がどの位あったか比較できるグラフ付き</p>
      <p>自分にとっての幸せだったことが意外とそうでもなかったり</p>
    <div class="main-Heading">
      <h3>さあ、自分のしあわせのものさしを知ろう</h3>
    </div>
    <div class="top-btn">
      <div class="login-btn">
      
      </div>
    </div>
  </div>
<br>


<style>
/*  body {*/
/*    background-color: #B0C4DE;*/
/*  }*/
/*</style>

