<body class="wrap" style="padding-top: 87.9922px;">
      <header>
  <nav class="navbar is-spaced is-fixed-top js-get-height" role="navigation" aria-label="main navigation">
    <div class="navbar-brand is-align-items-center">
      <a class="navbar-item" href="/">
        <img alt="つづる自分史" src="/assets/logo/logo-bcf4a35a2a099aa276c4c315f92fa5e8194604a978253ead273b6c386c8303f0.png">
</a>      <a role="button" class="navbar-burger js-toggle-is-active" aria-label="menu" aria-expanded="false">
        <span aria-hidden="true"></span>
        <span aria-hidden="true"></span>
        <span aria-hidden="true"></span>
      </a>
    </div>
    <div class="navbar-menu">
      <div class="navbar-end">
        <a class="navbar-item" href="/my_histories">自分史一覧</a>
        <a class="navbar-item" href="/users/new">新規登録</a>
        <a class="navbar-item" href="/login">ログイン</a>
      </div>
    </div>
  </nav>
</header>


    

    <main class="wrap-content">
  <class="section content">
    <div class="columns is-centered">
      <div class="column is-12-mobile is-6-tablet is-4-desktop is-4-widescreen is-4-fullhd">
        <h1 class="title is-1 top-heading has-text-weight-bold">人生を振り返る旅に出よう</h1>
        <p class="has-text-black">
          「つづる自分史」は人生を振り返ることができるサービスです。
          <br>
          出来事を登録するだけで、あなたの人生をグラフ化します。
          <br>
          あなたも自分史を残してみませんか？
        </p>
        <div class="columns is-mobile is-vcentered is-justify-content-center">
          <div class="column is-centered">
            <div class="buttons">
              <a class="button is-medium button-top is-centered mt-6" href="/users/new">今すぐ始める</a>
            </div>
          </div>
          <div class="column is-centered">
            <div class="buttons">
              <a class="button is-medium button-top is-centered mt-6" href="/my_histories">自分史一覧</a>
            </div>
          </div>
        </div>
      </div>
      <div class="column is-12-mobile is-6-tablet is-4-desktop is-4-widescreen is-3-fullhd">
        <img src="/assets/top/top_01-5cc17e43c40655b32b5194b882928f6b9679192d4791c374b939eec93736c2f9.png">
      </div>
    </div>
  </section>
  <section id="function" class="section content">
    <h2 class="title subtitle has-text-centered">
      サービスの特徴
    </h2>
    <div class="columns is-desktop is-centered is-vcentered is-3">
      <div class="column is-centered is-12-mobile is-8-tablet is-3-desktop">
        <div id="feature" class="has-text-centered p-3">
          <h5 class="title is-5">自分史を登録するだけで、自動でグラフ化</h5>
          <img class="mb-4" src="/assets/top/top_02-6d5a94fca235458c3586f72a8c48ab747ec110830908d457c82c9f8f1403837e.png">
          <p class="has-text-black">
            人生の軌跡を登録すると、あなたの人生をグラフで表します。
            作成したグラフはダウンロード可能。「自己紹介」「就活・転職活動」などでご利用いただけます。
          </p>
        </div>
      </div>
      <div class="column is-12-mobile is-8-tablet is-3-desktop mx-auto">
        <div id="feature" class="has-text-centered p-3">
          <h5 class="title is-5">みんなの人生を覗いてみよう</h5>
          <img class="mb-4" src="/assets/top/top_03-8c16d82c757ab067fb419c9c4c61c18e21a7dde1e0b341339f876a6d94e8cde1.png">
          <p class="has-text-black">
            公開されている自分史は、誰でも閲覧可能。あなたの悩みを解消するヒントが隠されているかも。
            コメントで交流して、みんなの人生をより豊かにしよう。
          </p>
        </div>
      </div>
      <div class="column is-12-mobile is-8-tablet is-3-desktop mx-auto">
        <div id="feature" class="has-text-centered p-3">
          <h5 class="title is-5">あなたの自分史をTwitterへ共有</h5>
          <img class="mb-4" src="/assets/top/top_04-a7e2dd59ab38c137c95e8a47827095e6a2238d580c0b30e9d353b4920c597231.png">
          <p class="has-text-black">
            作成したグラフをOGPとしてTwitterへ共有可能。
            あなたの人生に興味を持つ人が現れるかも。
            SNSを利用して、積極的に交流しよう。
          </p>
        </div>
      </div>
    </div>
  </section>
</main>


    <footer class="footer">
  <div class="content has-text-centered">
    <p>
      <a class="p-1 is-navy ft-size-sm" href="/terms">利用規約</a>
      <a class="p-1 is-navy ft-size-sm" href="/privacy">プライバシーポリシー</a>
      <a class="p-1 is-navy ft-size-sm" href="https://forms.gle/2E3rbswpUP8VQyXr8">お問い合わせ</a>
      <a target="_blank" rel="noopener noreferrer" class="author-twitter" href="https://twitter.com/webpg_jun">
        <svg class="svg-inline--fa fa-twitter fa-w-16" aria-hidden="true" focusable="false" data-prefix="fab" data-icon="twitter" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512" data-fa-i2svg=""><path fill="currentColor" d="M459.37 151.716c.325 4.548.325 9.097.325 13.645 0 138.72-105.583 298.558-298.558 298.558-59.452 0-114.68-17.219-161.137-47.106 8.447.974 16.568 1.299 25.34 1.299 49.055 0 94.213-16.568 130.274-44.832-46.132-.975-84.792-31.188-98.112-72.772 6.498.974 12.995 1.624 19.818 1.624 9.421 0 18.843-1.3 27.614-3.573-48.081-9.747-84.143-51.98-84.143-102.985v-1.299c13.969 7.797 30.214 12.67 47.431 13.319-28.264-18.843-46.781-51.005-46.781-87.391 0-19.492 5.197-37.36 14.294-52.954 51.655 63.675 129.3 105.258 216.365 109.807-1.624-7.797-2.599-15.918-2.599-24.04 0-57.828 46.782-104.934 104.934-104.934 30.213 0 57.502 12.67 76.67 33.137 23.715-4.548 46.456-13.32 66.599-25.34-7.798 24.366-24.366 44.833-46.132 57.827 21.117-2.273 41.584-8.122 60.426-16.243-14.292 20.791-32.161 39.308-52.628 54.253z"></path></svg><!-- <i class="fab fa-twitter"></i> Font Awesome fontawesome.com -->
</a>    </p>
    <p class="copy-right">
      Copyright © つづる自分史 All Rights Reserved.
    </p>
  </div>
</footer>

  

</body>