<!--カレンダー-->
<div class="border-radius"></div>
<%= month_calendar events: @posts do |date, posts| %>
  <%= date.day %>
  <% posts.each do |p| %>
    <div>
      <%= link_to p.today_mood, p, remote: true %>
    </div>
  <% end %>
<% end %>

<!--モーダルマスク-->
<div id="mask" class="hidden"></div>
  <div id="modal" class="hidden">
  </div>

<!--1日1回表示するポップアップ-->
<div class="bg_onetime_popup">
  <div class="onetime_popup">
      <p class="onetime_popup_title">今日のしあわせのヒント</p>
      <div class="onetime_popup_content">
  <script>
  var a=["スポーツをすると幸福度が上がるよ",
        "セロトニンは幸福度を高めるよ",
        "物より経験を重視した方が幸福度が上がるよ"];
  var x;
  // 乱数生成
  x=Math.floor(Math.random()*3); 
  document.write(a[x]);
  </script>
      </div>
  </div>
</div>

<!--日記作成ボタン-->
<button_to  id="topBtn" class="topBtn">
  <%= link_to("Create a diary", new_post_path, remote: true, class: "link") %>
</button>

<script>
// 画面を開いたら
window.addEventListener('load', function() {
// もしクッキーがなければ
  if( !sessionStorage.getItem('disp_popup') ) {
    sessionStorage.setItem('disp_popup', 'on');
    var popup = document.getElementsByClassName('bg_onetime_popup');
// ポップアップ表示もしくは消す処理
    popup[0].classList.add('js_active');
    popup[0].onclick = function() {
    popup[0].classList.remove('js_active');
    }
  }
}, false);
    
jQuery(function() {
  let topBtn = $("#topBtn");
  // 画面を開いたら
  $(window).on('load', function() {
    // ボタンがしたから出てくる
    topBtn.stop().animate({ bottom: "70px" }, 1600);
  });
});
</script>





