/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *= require simple_calendar
 *= require simple_calendar
 *= require_tree .
 *= require_self
 */
 
.container {
   font-family: 'M PLUS Rounded 1c', sans-serif;
 }

/*---------------
    #Header
---------------*/

.site-header {
  background-color: #B0C4DE; 
  font-family: 'M PLUS Rounded 1c', sans-serif;
  z-index: 999;
  top: 0;
  left: 0;
  width: 100%;
  height: 70px;
  padding: 8px 40px;
  box-sizing: border-box;
  padding-left: 100px;
  position: fixed;
}

.header_logo {
  padding-left: 100px;
}
.header_logo img{
    width: 50px;
}

// メニューボタン
.navbar-nav {
  padding-top: 7px;
  padding-right: 120px;
  position:absolute;
  right:20px;
}

.nav-link {
  display: inline-block;
  color: brack;
&:after {
  content: "";
  display: block;
  width: 0;
  height: 1px;
  transition: all 0.5s ease;}
&:hover::after {
  width: 100%;
  height: 1px;
  background-color: #333333;
  transition: all 0.5s ease;}
}

@media screen and  (max-width: 1024px) {
.navbar-nav{
    padding-top: 300px;
  }
}

@media screen and (max-width: 599px) {
  // スマホ用
 .navbar-nav{
     

  }
}

/*---------------
    #Fotter
---------------*/

.content {
  min-height: 100px;
}

.footer {
  background-color: #B0C4DE; 
  font-family: 'M PLUS Rounded 1c', sans-serif;
  color: white;
  height: 60px;
}

/* タブレット*/
@media (max-width: 1024px) {
  .footer  {

  }
}

/* スマホ */
@media (max-width: 599px) {
  .footer r {

  }
}


/*---------------
    #入力画面ボックス
---------------*/

.box {
    padding: 0.2em 0.5em;
    margin: 2em 0;
    color: #565656;
    background: #EEEEEE;
    box-shadow: 0px 0px 0px 10px #EEEEEE;
    border: dashed 2px #444444;
    border-radius: 8px;
    margin: auto;
    margin-top: 100px;
}
.box p {
    margin: 0; 
    padding: 0;
}

/*---------------
    #ボタン関連
---------------*/

// 送信ボタン
.sendbtn {
  align-items: center;
  background-clip: padding-box;
  background-color: #3fbd35;
  border: 1px solid transparent;
  border-radius: .25rem;
  box-shadow: rgba(0, 0, 0, 0.02) 0 1px 3px 0;
  box-sizing: border-box;
  color: #fff;
  cursor: pointer;
  display: inline-flex;
  font-family: system-ui,-apple-system,system-ui,"Helvetica Neue",Helvetica,Arial,sans-serif;
  font-size: 16px;
  font-weight: 600;
  justify-content: center;
  line-height: 1.25;
  margin: 0;
  min-height: 3rem;
  padding: calc(.875rem - 1px) calc(1.5rem - 1px);
  position: relative;
  text-decoration: none;
  transition: all 250ms;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  vertical-align: baseline;
  width: 190px;
 &:hover,
 &:focus {
  background-color: #333333;
  box-shadow: rgba(0, 0, 0, 0.1) 0 4px 12px;}
 &:sendbtn:hover {
  transform: translateY(-1px);}
 &:sendbtn:active {
  background-color: #333333;
  box-shadow: rgba(0, 0, 0, .06) 0 2px 4px;
  transform: translateY(0);}
}

// プロフィール編集ボタン
.editbtn {
  align-items: center;
  background-clip: padding-box;
  background-color: #3fbd35;
  border: 1px solid transparent;
  border-radius: .25rem;
  box-shadow: rgba(0, 0, 0, 0.02) 0 1px 3px 0;
  box-sizing: border-box;
  color: #fff;
  cursor: pointer;
  display: inline-flex;
  font-family: system-ui,-apple-system,system-ui,"Helvetica Neue",Helvetica,Arial,sans-serif;
  font-size: 16px;
  font-weight: 600;
  justify-content: center;
  line-height: 1.25;
  margin: 0;
  min-height: 3rem;
  padding: calc(.875rem - 1px) calc(1.5rem - 1px);
  position: relative;
  text-decoration: none;
  transition: all 250ms;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  vertical-align: baseline;
  width: 180px;
 &:hover,
 &:focus {
  background-color: #333333;
  box-shadow: rgba(0, 0, 0, 0.1) 0 4px 12px;}
 &:sendbtn:hover {
  transform: translateY(-1px);}
 &:sendbtn:active {
  background-color: #333333;
  box-shadow: rgba(0, 0, 0, .06) 0 2px 4px;
  transform: translateY(0);}
}

// 投稿詳細編集ボタン
.edit-showbtn {
  align-items: center;
  background-clip: padding-box;
  background-color: #3fbd35;
  border: 1px solid transparent;
  border-radius: .25rem;
  box-shadow: rgba(0, 0, 0, 0.02) 0 1px 3px 0;
  box-sizing: border-box;
  color: #fff;
  cursor: pointer;
  display: inline-flex;
  font-family: system-ui,-apple-system,system-ui,"Helvetica Neue",Helvetica,Arial,sans-serif;
  font-size: 16px;
  font-weight: 600;
  justify-content: center;
  line-height: 1.25;
  margin: 5px;
  min-height: 3rem;
  padding: calc(.875rem - 1px) calc(1.5rem - 1px);
  position: relative;
  text-decoration: none;
  transition: all 250ms;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  vertical-align: baseline;
  width: 50px;
 &:hover,
 &:focus {
  background-color: #333333;
  box-shadow: rgba(0, 0, 0, 0.1) 0 4px 12px;}
 &:sendbtn:hover {
  transform: translateY(-1px);}
 &:sendbtn:active {
  background-color: #333333;
  box-shadow: rgba(0, 0, 0, .06) 0 2px 4px;
  transform: translateY(0);}
}

// 更新ボタン
.updatebtn {
  align-items: center;
  background-clip: padding-box;
  background-color: #3fbd35;
  border: 1px solid transparent;
  border-radius: .25rem;
  box-shadow: rgba(0, 0, 0, 0.02) 0 1px 3px 0;
  box-sizing: border-box;
  color: #fff;
  cursor: pointer;
  display: inline-flex;
  font-family: system-ui,-apple-system,system-ui,"Helvetica Neue",Helvetica,Arial,sans-serif;
  font-size: 16px;
  font-weight: 600;
  justify-content: center;
  line-height: 1.25;
  margin: 0;
  min-height: 3rem;
  padding: calc(.875rem - 1px) calc(1.5rem - 1px);
  position: relative;
  text-decoration: none;
  transition: all 250ms;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  vertical-align: baseline;
  width: 190px;
 &:hover,
 &:focus {
  background-color: #333333;
  box-shadow: rgba(0, 0, 0, 0.1) 0 4px 12px;}
 &:sendbtn:hover {
  transform: translateY(-1px);}
 &:sendbtn:active {
  background-color: #333333;
  box-shadow: rgba(0, 0, 0, .06) 0 2px 4px;
  transform: translateY(0);}
}

// 削除・退会ボタン
.quitbtn {
  align-items: center;
  background-clip: padding-box;
  background-color:#DC143C;
  border: 1px solid transparent;
  border-radius: .25rem;
  box-shadow: rgba(0, 0, 0, 0.02) 0 1px 3px 0;
  box-sizing: border-box;
  color: #fff;
  cursor: pointer;
  display: inline-flex;
  font-family: system-ui,-apple-system,system-ui,"Helvetica Neue",Helvetica,Arial,sans-serif;
  font-size: 16px;
  font-weight: 600;
  justify-content: center;
  line-height: 1.25;
  margin: 5px;
  min-height: 3rem;
  padding: calc(.875rem - 1px) calc(1.5rem - 1px);
  position: relative;
  text-decoration: none;
  transition: all 250ms;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  vertical-align: baseline;
  width: 50px;
 &:hover,
 &:focus {
  background-color: #DEB887;
  box-shadow: rgba(0, 0, 0, 0.1) 0 4px 12px;}
 &:sendbtn:hover {
  transform: translateY(-1px);}
 &:sendbtn:active {
  background-color: #c85000;
  box-shadow: rgba(0, 0, 0, .06) 0 2px 4px;
  transform: translateY(0);}
}

// ログインボタン
.loginbtn {
  align-items: center;
  background-clip: padding-box;
  background-color: #3fbd35;
  border: 1px solid transparent;
  border-radius: .25rem;
  box-shadow: rgba(0, 0, 0, 0.02) 0 1px 3px 0;
  box-sizing: border-box;
  color: #fff;
  cursor: pointer;
  display: inline-flex;
  font-family: system-ui,-apple-system,system-ui,"Helvetica Neue",Helvetica,Arial,sans-serif;
  font-size: 16px;
  font-weight: 600;
  justify-content: center;
  line-height: 1.25;
  margin: 0;
  min-height: 3rem;
  padding: calc(.875rem - 1px) calc(1.5rem - 1px);
  position: relative;
  text-decoration: none;
  transition: all 250ms;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  vertical-align: baseline;
  width: 190px;
 &:hover,
 &:focus {
  background-color: #333333;
  box-shadow: rgba(0, 0, 0, 0.1) 0 4px 12px;}
 &:sendbtn:hover {
  transform: translateY(-1px);}
 &:sendbtn:active {
  background-color: #333333;
  box-shadow: rgba(0, 0, 0, .06) 0 2px 4px;
  transform: translateY(0);}
}

// 新規登録ボタン
.newbtn {
  align-items: center;
  background-clip: padding-box;
  background-color: #3fbd35;
  border: 1px solid transparent;
  border-radius: .25rem;
  box-shadow: rgba(0, 0, 0, 0.02) 0 1px 3px 0;
  box-sizing: border-box;
  color: #fff;
  cursor: pointer;
  display: inline-flex;
  font-family: system-ui,-apple-system,system-ui,"Helvetica Neue",Helvetica,Arial,sans-serif;
  font-size: 16px;
  font-weight: 600;
  justify-content: center;
  line-height: 1.25;
  margin: 0;
  min-height: 3rem;
  padding: calc(.875rem - 1px) calc(1.5rem - 1px);
  position: relative;
  text-decoration: none;
  transition: all 250ms;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  vertical-align: baseline;
  width: 190px;
 &:hover,
 &:focus {
  background-color: #333333;
  box-shadow: rgba(0, 0, 0, 0.1) 0 4px 12px;}
 &:sendbtn:hover {
  transform: translateY(-1px);}
 &:sendbtn:active {
  background-color: #333333;
  box-shadow: rgba(0, 0, 0, .06) 0 2px 4px;
  transform: translateY(0);}
}

