/*---------------
    #ヘッダー
---------------*/

.site-header {
  background-color: #B0C4DE; 
  font-family: 'M PLUS Rounded 1c', sans-serif;
  z-index: 999;
  top: 0;
  left: 0;
  width: 100%;
  height: 70px;
  padding: 8px 40px;
  box-sizing: border-box;
  padding-left: 100px;
  position: fixed;
}

.header_logo {
  padding-left: 100px;
}
.header_logo img{
    width: 50px;
}

// メニューボタン
.navbar-nav {
  padding-top: 7px;
  padding-right: 120px;
  position:absolute;
  right:20px;
}

.nav-link {
  display: inline-block;
  color: brack;
&:after {
  content: "";
  display: block;
  width: 0;
  height: 1px;
  transition: all 0.5s ease;}
&:hover::after {
  width: 100%;
  height: 1px;
  background-color: #333333;
  transition: all 0.5s ease;}
}

.nav-link a {
  color: brack;
}

@media screen and (max-width: 479px) {
.site-header {
  background-color: #B0C4DE; 
  font-family: 'M PLUS Rounded 1c', sans-serif;
  z-index: 999;
  top: 0;
  left: 0;
  width: 100%;
  height: 100px;
  padding: 8px 40px;
  box-sizing: border-box;
  padding-left: 100px;
  position: fixed;
}
}


/*---------------
    #フッター
---------------*/

.content {
  min-height: 100px;
}

.footer {
  background-color: #B0C4DE; 
  font-family: 'M PLUS Rounded 1c', sans-serif;
  color: white;
  height: 60px;
  text-align: center;
}