/*---------------
    #ヘッダー
---------------*/

.site-header {
  background-color: #B0C4DE; 
  font-family: 'M PLUS Rounded 1c', sans-serif;
  z-index: 2;
  top: 0;
  left: 0;
  width: 100%;
  height: 70px;
  padding: 8px 40px;
  box-sizing: border-box;
  padding-left: 100px;
  position: fixed;
}

.header_logo {
  padding-left: 50px;
}
.header_logo img{
  width: 50px;
}

.header-nav {
  display: flex;
  list-style: none;
  padding-left: 700px;
}

// メニューボタン
.navbar {
  height: 60px;
}

.g-nav-list {
  padding-left: 10px;
}

.nav-link {
  color: brack;
&:after {
  content: "";
  display: block;
  width: 0;
  height: 1px;
  transition: all 0.5s ease;}
&:hover::after {
  width: 100%;
  height: 1px;
  background-color: #333333;
  transition: all 0.5s ease;}
}

@media screen and (max-width: 479px) {
.site-header {
  padding: 10px;
  padding-left: 10px;
}
.header_logo {
  padding-left: 10px;
}
.header_logo img{
    width: 40px;
}

.navbar-toggler {
    padding: 0.25rem 0.75rem;
    font-size: 3rem;
    line-height: 1;
    border: 1px solid;
    border-radius: 0.25rem brack;
    transition: box-shadow 0.15s ease-in-out;
}
.navbar-toggler:focus {
    text-decoration: none;
    outline: 0;
    box-shadow: 0 0 0 0.01rem;
}

// ハンバーガーメニュー
#g-nav{
  position:fixed;
  z-index: 999;
  top:-90%;
  left:0;
  width:100%;
  height: 35vh;
  background: #B0C4DE;
  transition: all 0.6s;
}

/*アクティブクラスがついたら位置を0に*/
#g-nav.panelactive{
    top: 0;
}

/*ナビゲーションの縦スクロール*/
#g-nav.panelactive #g-nav-list{
  /*ナビの数が増えた場合縦スクロール*/
  position: fixed;
  z-index: 999; 
  width: 100%;
  height: 40vh;/*表示する高さ*/
  overflow: auto;
  -webkit-overflow-scrolling: touch;
}

/*ナビゲーション*/
#g-nav ul {
  /*ナビゲーション天地中央揃え*/
  position: absolute;
  z-index: 999;
  top:50%;
  left:50%;
  transform: translate(-50%,-50%);
}

/*リストのレイアウト設定*/

#g-nav li{
  list-style: none;
  text-align: center;
  font-size: 13px;
}

#g-nav li a{
  color: #333;
  text-decoration: none;
  display: block;
  text-transform: uppercase;
  letter-spacing: 0.1em;
  font-weight: bold;
  font-size: 15px;
}

.header-nav {
  padding-left: initial;
  display: initial;
}

/*========= ボタンのためのCSS ===============*/
.openbtn1{
  position:fixed;
    z-index: 9999;/*ボタンを最前面に*/
  top:10px;
  right: 10px;
  cursor: pointer;
    width: 50px;
    height:50px;
}
  
/*×に変化*/  
.openbtn1 span{
    display: inline-block;
    transition: all .4s;
    position: absolute;
    left: 14px;
    height: 3px;
    border-radius: 2px;
  background-color: #666;
    width: 45%;
  }

.openbtn1 span:nth-of-type(1) {
  top:15px; 
}

.openbtn1 span:nth-of-type(2) {
  top:23px;
}

.openbtn1 span:nth-of-type(3) {
  top:31px;
}

.openbtn1.active span:nth-of-type(1) {
    top: 18px;
    left: 18px;
    transform: translateY(6px) rotate(-45deg);
    width: 30%;
}

.openbtn1.active span:nth-of-type(2) {
  opacity: 0;
}

.openbtn1.active span:nth-of-type(3){
    top: 30px;
    left: 18px;
    transform: translateY(-6px) rotate(45deg);
    width: 30%;
}

/*========= レイアウトのためのCSS ===============*/

h1{
  font-size:1.2rem;
}

h2{
  font-size:1.2rem;
  text-align: center;
  margin: 0 0 30px 0;
}

p{
  margin-top:20px;  
}

small{
  color:#fff;
  display: block;
  text-align: center;
}

#header{
  width:100%;
  background:#333;
  color:#fff;
  text-align: center;
  padding: 20px;
}

section{
  padding:100px 30px;
}

section:nth-child(2n){
  background:#f3f3f3; 
}

#footer{
  background:#333;
  padding:20px;
}
}

/*---------------
    #フッター
---------------*/

.content {
  min-height: 100px;
}

.footer {
  background-color: #B0C4DE; 
  font-family: 'M PLUS Rounded 1c', sans-serif;
  color: white;
  height: 60px;
  text-align: center;
}

@media screen and (max-width: 479px) {
.navbar {
  font-size: 5px;
}
.navbar-nav {
  font-size: 15px;
  background-color: white;
  padding: 20px;
}
}

