// Place all the styles related to the Posts controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

 
.body {
  font-family: 'Zen Kaku Gothic New', sans-serif;
  background-color: #B0C4DE;
  width: 100px;
}

// 日記作成ボタン
.topBtn {
  position: relative;
  display: inline-block;
    text-align: center;
    text-decoration: none;
    outline: 0;
    overflow: hidden;
    color: #fff;
    background: #FF9900;
    border-radius: 8px;
    box-shadow: 0 0 0 5px #FF9900, 0 2px 3px 5px rgba(0,0,0,0.5);
    border: 2px dashed #fff;
    padding: .5em 1em;
    float: right;
    width: 200px;
    font-size: 20px;
    animation-name:updown1;
    animation-delay:0s;
    animation-duration: 3s;
    animation-timing-function: ease-in-out;
    animation-iteration-count: infinite;
    right: 100px;
}

.link {
  font-family: 'M PLUS Rounded 1c', sans-serif;
  text-decoration: none;
  color: white;
}

.main {
font-family: 'Yusei Magic', sans-serif;
}

@keyframes updown1 {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-20px);
  }
  100% {
    transform: translateY(0);
  }
}

/* タブレット*/
@media (max-width: 1024px) {
  .topBtn  {
    left: 550px;
  }
}

/* スマホ */
@media (max-width: 599px) {
  .topBtn r {
    left: 550px;
  }
}

// 今日のひとこと
.word {
  padding-top: 50px;
  padding-left: 280px;
  font-family: 'M PLUS Rounded 1c', sans-serif;
}
.words p {
  margin: 0; 
  padding-top: 0px;
}

.balloon5 {
  width: 100%;
  margin: 1.5em 0;
  overflow: hidden;
}

.balloon5 .faceicon {
  float: left;
  margin-right: -90px;
  width: 80px;
}

.balloon5 .faceicon img{
  width: 100%;
  height: auto;
  border: solid 3px #d7ebfe;
  border-radius: 50%;
}

.balloon5 .chatting {
  width: 100%;
}

.says {
  display: inline-block;
  position: relative; 
  margin: 5px 0 0 105px;
  padding: 17px 13px;
  border-radius: 12px;
  background: #FFE4B5;
}

.says:after {
  content: "";
  display: inline-block;
  position: absolute;
  top: 18px; 
  left: -24px;
  border: 12px solid transparent;
  border-right: 12px solid #FFE4B5;
}

.says p {
  margin: 0;
  padding: 0;
}

// 投稿詳細ボタン配置
.show_button {
  display:flex;
  padding-left: 250px;
}

.container-newbtn {
   font-family: 'M PLUS Rounded 1c', sans-serif;
   padding-top: 130px;
}

// 1日1回のポップアップ
.bg_onetime_popup {
    position: fixed;
    top: 0px;
    left: 0px;
    z-index: 9999;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.5);
    opacity: 0;
    visibility: hidden;
    transition: 0.5s;
}

.bg_onetime_popup.js_active {
    opacity: 1;
    visibility: visible;
}

.onetime_popup {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
    width: 50%;
    min-width: 500px;
    cursor: pointer;
    background: #EEEEEE;
    box-shadow: 0px 0px 0px 10px #EEEEEE;
    border: dashed 2px #444444;
    border-radius: 8px;
    margin: auto;
    margin-top: 20px;
}

.onetime_popup_title::before,
.onetime_popup_title::after {
    position: absolute;
    top: 50%;
    right: 30px;
    transform: translateY(-50%);
    width: 30px;
    height: 4px;
    background-color: #fff;
    font-size: 20px;
}
.onetime_popup_title::before {
    transform: rotate(45deg);
}
.onetime_popup_title::after {
    transform: rotate(-45deg);
}

.onetime_popup_content {
    padding: 60px 30px;
    text-align: center;
    font-size: 25px;
}


// テスト
.modal {
  width: 100%;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 9999;
  align-items: center;
  display: none;
}

.modal.is_active {
  display: flex;
}

.modal_bg {
  background-color: rgba(0, 0, 0, 0.5);
  width: 100%;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 9998;
}

.modal_wrap {
  padding: 50px 150px;
  margin: 2em 0;
  color: #565656;
  background: #EEEEEE;
  box-shadow: 0px 0px 0px 10px #EEEEEE;
  border: dashed 2px #444444;
  border-radius: 8px;
  margin: auto;
  margin-top: 100px;
  z-index: 10000;
  position: relative;
}

.modal_inner {
  text-align: left;
  padding: 30px 30px 40px;
  font-size: 16px;
}

.modal_close {
  color: #fff;
  font-size: 32px;
  position: absolute;
  top: -30px;
  right: 18px;
}