// Place all the styles related to the Posts controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

 
.body {
  font-family: 'Zen Kaku Gothic New', sans-serif;
  background-color: #B0C4DE;
  width: 100px;
}

// 日記作成ボタン
.topBtn {
  position: relative;
  display: inline-block;
  text-align: center;
  text-decoration: none;
  outline: 0;
  overflow: hidden;
  color: #fff;
  background: #FF9900;
  border-radius: 8px;
  box-shadow: 0 0 0 5px #FF9900, 0 2px 3px 5px rgba(0,0,0,0.5);
  border: 2px dashed #fff;
  padding: .5em 1em;
  float: right;
  width: 200px;
  font-size: 20px;
  animation-name:updown1;
  animation-delay:0s;
  animation-duration: 3s;
  animation-timing-function: ease-in-out;
  animation-iteration-count: infinite;
  right: 100px;
}

.link {
  font-family: 'M PLUS Rounded 1c', sans-serif;
  text-decoration: none;
  color: white;
}

.main {
font-family: 'Yusei Magic', sans-serif;
}

@keyframes updown1 {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-20px);
  }
  100% {
    transform: translateY(0);
  }
}

/* スマホ */
@media screen and (max-width: 599px) {
  .topBtn {
    width: 130px;
    font-size: 12px;
    right: 10px;
  }
}

/*---------------
    #ボタン関連
---------------*/
// 投稿ボタン

.postbtn  {
  align-items: center;
  background-clip: padding-box;
  background-color: #3fbd35;
  border: 1px solid transparent;
  border-radius: .25rem;
  box-shadow: rgba(0, 0, 0, 0.02) 0 1px 3px 0;
  box-sizing: border-box;
  color: #fff;
  cursor: pointer;
  display: inline-flex;
  font-family: system-ui,-apple-system,system-ui,"Helvetica Neue",Helvetica,Arial,sans-serif;
  font-size: 16px;
  font-weight: 600;
  justify-content: center;
  line-height: 1.25;
  margin: 0;
  min-height: 3rem;
  padding: calc(.875rem - 1px) calc(1.5rem - 1px);
  position: relative;
  text-decoration: none;
  transition: all 250ms;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  vertical-align: baseline;
  width: 190px;
 &:hover,
 &:focus {
  background-color: #333333;
  box-shadow: rgba(0, 0, 0, 0.1) 0 4px 12px;}
 &:sendbtn:hover {
  transform: translateY(-1px);}
 &:sendbtn:active {
  background-color: #333333;
  box-shadow: rgba(0, 0, 0, .06) 0 2px 4px;
  transform: translateY(0);}
}

// 投稿詳細ボタン
.show_button {
  display:flex;
  padding-left: 250px;
}

@media screen and (max-width: 599px) {
 .show_button { 
  padding-left: 78px;
 }
}

// 投稿ボタン
.container-newbtn {
   font-family: 'M PLUS Rounded 1c', sans-serif;
}

// 投稿編集ボタン
.edit-showbtn {
  align-items: center;
  background-clip: padding-box;
  background-color: #3fbd35;
  border: 1px solid transparent;
  border-radius: .25rem;
  box-shadow: rgba(0, 0, 0, 0.02) 0 1px 3px 0;
  box-sizing: border-box;
  color: #fff;
  cursor: pointer;
  display: inline-flex;
  font-family: system-ui,-apple-system,system-ui,"Helvetica Neue",Helvetica,Arial,sans-serif;
  font-size: 16px;
  font-weight: 600;
  justify-content: center;
  line-height: 1.25;
  margin: 5px;
  min-height: 3rem;
  padding: calc(.875rem - 1px) calc(1.5rem - 1px);
  position: relative;
  text-decoration: none;
  transition: all 250ms;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  vertical-align: baseline;
  width: 50px;
 &:hover,
 &:focus {
  background-color: #333333;
  box-shadow: rgba(0, 0, 0, 0.1) 0 4px 12px;}
 &:sendbtn:hover {
  transform: translateY(-1px);}
 &:sendbtn:active {
  background-color: #333333;
  box-shadow: rgba(0, 0, 0, .06) 0 2px 4px;
  transform: translateY(0);}
}

// 投稿削除ボタン
.quitbtn {
  align-items: center;
  background-clip: padding-box;
  background-color:#DC143C;
  border: 1px solid transparent;
  border-radius: .25rem;
  box-shadow: rgba(0, 0, 0, 0.02) 0 1px 3px 0;
  box-sizing: border-box;
  color: #fff;
  cursor: pointer;
  display: inline-flex;
  font-family: system-ui,-apple-system,system-ui,"Helvetica Neue",Helvetica,Arial,sans-serif;
  font-size: 16px;
  font-weight: 600;
  justify-content: center;
  line-height: 1.25;
  margin: 5px;
  min-height: 3rem;
  padding: calc(.875rem - 1px) calc(1.5rem - 1px);
  position: relative;
  text-decoration: none;
  transition: all 250ms;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  vertical-align: baseline;
  width: 50px;
 &:hover,
 &:focus {
  background-color: #DEB887;
  box-shadow: rgba(0, 0, 0, 0.1) 0 4px 12px;}
 &:sendbtn:hover {
  transform: translateY(-1px);}
 &:sendbtn:active {
  background-color: #c85000;
  box-shadow: rgba(0, 0, 0, .06) 0 2px 4px;
  transform: translateY(0);}
}


/*---------------
    #1日1回のモーダル
---------------*/
.bg_onetime_popup {
    position: fixed;
    top: 0px;
    left: 0px;
    z-index: 9999;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.5);
    opacity: 0;
    visibility: hidden;
    transition: 0.5s;
}

.bg_onetime_popup.js_active {
    opacity: 1;
    visibility: visible;
}

.onetime_popup {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
    width: 50%;
    min-width: 500px;
    cursor: pointer;
    background: #EEEEEE;
    box-shadow: 0px 0px 0px 10px #EEEEEE;
    border: dashed 2px #444444;
    border-radius: 8px;
    margin: auto;
    margin-top: 20px;
}

.onetime_popup_title::before,
.onetime_popup_title::after {
    position: absolute;
    top: 50%;
    right: 30px;
    transform: translateY(-50%);
    width: 30px;
    height: 4px;
    background-color: #fff;
    font-size: 20px;
}
.onetime_popup_title::before {
    transform: rotate(45deg);
}
.onetime_popup_title::after {
    transform: rotate(-45deg);
}

.onetime_popup_content {
    padding: 60px 30px;
    text-align: center;
    font-size: 25px;
}

.modal_close {
  color: gray;
  font-size: 25px;
  position: absolute;
  right: 50px;
  top: 265px;
}

@media screen and (max-width: 599px) {
.modal_close { 
  color: gray;
  font-size: 15px;
  position: absolute;
  top: 363px;
  right: 164px;
 }
}
