<p><%= @resource.email %>様</p>

<p>ーーーーーーーーーーーーーーーーーーーー</p>
<p>パスワード再発行を受け付けました</p>
<p>こちらのリンクでパスワードの再発行を行って下さい</p>

<p><%= link_to 'Change my password', edit_user_password_url(@resource, reset_password_token: @token) %></p>

<p>もしお心当たりのない場合、本メールは破棄して頂けるようお願いいたします。</p>

