<footer id="footer" class="border-top bg-white"style="height:50px;margin-top:500px;">
        <ul>
        <li class="list-inline-item"><a href="#">お問い合わせ</a></li>
        <li class="list-inline-item"><a href="#">運営会社</a></li>
        </ul>
    </footer>
  </div>
</body>
</html>
